@import './colors.scss';

.ubicacion__container {
    height: auto;
    display: flex;
    justify-content: center;
    border-top: 1px solid $btn-text;
    width: 100%;
}

.ubicacion__thumbnail {
    order: 1;
    max-width: 680px;
    display: flex;

    .ubicacion__img {
        min-width: 700px !important;
        min-height: 680px;
        height: 100%;
        right: 0;
        filter: grayscale(200%);
    }
}

.ubicacion__information {
    order: 2;
    display: flex;
    padding: 70px 0 0 0;
    align-items: center;
    flex-direction: column;
    background-color: $bg-black;
    gap: 90px;
    min-width: 700px !important;

    .information__text {
        text-align: center;

        h1 {
            font-size: 20px;
            font-weight: 500;
            padding: 5px 0;
            color: $border-gray;
        }
    }

    .information__contact {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;

        .information__input {
            font-weight: 500;
            width: 400px;
            height: 35px;
            padding: 10px 8px 10px 8px;
            color: $border-gray;
            background: none;
            font-size: 18px;
            border: none;
            transition: 0.7s all;
            border-bottom: 1px solid $font-yellow;
        }

        ::placeholder {
            color: $border-gray
        }

        
        .information__input:focus {
            outline: none;
            background-color: $btn-text;
          }

        .information__button {
            width: 100%;
            height: 75px;
            pad: 10px;
            border-radius: 10px;
            border: none;
            background-color: $font-yellow;
            font-weight: 500;
            font-size: 20px;
            text-align: center;
            color: $btn-text;
            transition: all 0.4s;
        }

        .information__button:hover {

            background-color: #00000099;
            border: 1px solid $font-yellow;
            box-shadow: 0 0 8px $font-yellow;
            color: $font-yellow;
        }
    }

    .information__social {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;

        .social__container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            transition: 0.4s all !important;

            .social__block {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 100;
                transition: 0.4s all !important;

                .social__item {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 60;
                    transition: 0.4s all !important;

                    .social__item:hover {
                        background-color: $font-yellow ;
                    }
    
            
                    .social__item__icon {
                        border: 2px solid $border-gray;
                        width: 40%;
                        height: 40%;
                        color: $border-gray;
                        list-style: none;
                        text-decoration: none;
                        z-index: 150;
                        padding: 10px;
                        border-radius: 50%;
                        transition: 0.7s all ease !important;
                    }

                    .social__item__icon:hover {
                        background-color: #00000099;
                        border: 2px solid $font-yellow;
                        box-shadow: 0 0 5px $font-yellow;
                        color: $font-yellow;
                    }
    

                  
                }
            }
        }

        .right__web {
            color: $border-gray;
        }
    }
}

@media (max-width: 1440px) {

    .ubicacion__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
  }

  
    .ubicacion__thumbnail {
        order: 2;
    
    }

    .ubicacion__information {
        order: 1;}
}


@media (max-width: 1024px) {

    .information__text {
        text-align: center;

        h1 {
            font-size: 25px !important;
            padding: 10px 0 !important;
        }
    }
  
}




@media (max-width: 768px) {

    .ubicacion__thumbnail {
        width: 100%;
        justify-content: center;

        .ubicacion__img {
            min-width: 400px !important;
            min-height: 380px;
            height: 80%;
            width: 80%;
      
        }
    }

    .ubicacion__information {
        width: 100%;
        min-width: 100% !important;
    }
  
}

@media (max-width: 428px) {

    .information__text{
        width: 80%;
    }

    .information__contact{

        width: 100%;

        .information__input{
            width: 80% !important;
        }

        .information__button{
            width: 80% !important;
        }
    }

    .ubicacion__information{
        gap: 60px;
    }


    .ubicacion__thumbnail {
        width: 100%;
        justify-content: center;

        .ubicacion__img {
            min-width: 200px !important;
            min-height: 280px;
            height: 80%;
            width: 80%;
      
        }
    }

    .social__block{
        width: 65px !important;
        height: 65px !important;
    }
  
}

