
//! IMPORTS GLOBALES
@import 'modules/Global/header.scss';
@import 'modules/Global/footer.scss';
@import 'modules/Global/colors.scss';
@import 'modules/Global/fonts.scss';
@import 'modules/Global/normalize.min.css';

//! IMPORTS INDEX
@import 'modules/HomeView/HomeView.scss';

//! IMPORTS ACTIVIDADES
@import 'modules/AboutView/AboutView.scss';

* {
    font-family: $fOswald;
    list-style: none !important;
    scroll-behavior: smooth;
    text-decoration: none !important;
}

.main-wrapper {
    background-color: $bg-black;
}

.separator-xl {
    height: 250px;
}

.separator-l {
    height: 150px;
}

.separator-md {
    height: 100px;
}

.separator-s {
    height: 50px;
}

.title {
    color: $font-yellow;
    font-size: 50px;
}
