@import 'colors.scss';

 .card_container{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    background-color: $bg-black;
   }
  
   .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 400px;
    height: 555px;
    margin: 10px;
    padding: 25px;
    background-color: #151515;
    border: 2px solid #333333;
    border-radius: 16px;
    transition: 0.7s;
   }

   .card:hover{
      border: 2px solid $font-yellow;
      scale: 1.03;
      background-color: $bg-black;
   }
  
   .card__text{
    color: white;
    margin: 0;
    font-weight: 400;
   }

  
   .card__title{
    color: yellow;
    font-size: 25px;
    letter-spacing: 1.1px;

   }
  
   .card__subtitle{
    font-size: 16px;
    letter-spacing: 1px;

   }
  
   .card__thumbnail{
    height: 100%;
    width: 100%;
   }
  
  
   .card__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: left bottom; */
   }